<form [formGroup]="productForm" (ngSubmit)="createProduct()">
  <div>
    <mat-form-field>
      <input id="name" formControlName="name" required placeholder="Name" matInput />
      <mat-error *ngIf="name.touched && name.invalid">
        The name is not valid
      </mat-error>
    </mat-form-field>
  </div> 
  <div>
    <mat-form-field>
      <input id="price" formControlName="price" placeholder="Price" matInput required />
      <mat-error >
          The price is required
      </mat-error>
      <mat-hint>
        Price should be between 1 and 10000.
      </mat-hint>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">Create</button>
  </div>
</form>