<h2>Product List</h2>

<table mat-table [dataSource]="products">

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr> 
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let product">
      <a [routerLink]="['/products', product.id]">{{product.name}}</a>
    </td>
    </ng-container> 
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let product">{{product.price | currency}}</td>
  </ng-container>
</table>
<app-product-create (added)="onAdd($event)"></app-product-create>

